:root {
  --clr-background: rgb(255, 255, 255);
  --clr-fontmain:rgb(0, 0, 0);
  --clr-fontalt: rgb(100, 100, 100);
  --padding-projectpage: 20px;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/geist/Geist-Regular.woff2") format("woff2");
  font-style: normal; 
  font-weight: 400;
  font-display: swap;
}

* {
  font-family: "Geist", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body {
  color: var(--clr-fontmain);
}

h1 {
  color: rgb(12, 12, 12);
  margin: 0px;
  text-align: left;
  text-justify: center;
  font-size: 60px;
}

p {
  font-size: 20px;
}

.pDesc {
  color: var(--clr-fontalt);
  margin: 0px;
  font-size: 16px;
}

.containerTitle {
  width: 100%;
  height: 17dvh;
  margin: 0;
  padding: var(--padding-projectpage);
}

.Carousel {
  color: red;
  width: 100%;
  height: 33dvh;
  margin: 0;
  overflow: hidden;
  display: flex;
}

.CarouselImg {
  flex: 0 0 auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.CarouselImg img {
  display: block;
  height: 100%;
  width: auto;
  object-fit: contain;
}