:root {
  --clr-background: rgb(255, 255, 255);
  --clr-fontmain:rgb(0, 0, 0);
  --clr-fontalt: rgb(100, 100, 100);
}

@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/geist/Geist-Regular.woff2") format("woff2");
  font-style: normal; 
  font-weight: 400;
  font-display: swap;
}

* {
  font-family: "Geist", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body {
  color: var(--clr-fontmain);
}

h1 {
  color: rgb(12, 12, 12);
  text-align: left;
  text-justify: center;
  font-size: large;
}

p {
  font-size: 20px;
}

p class = "pDesc" {
  color: var(--clr-fontalt);
  font-size: 20px;
}

.containerTitle {
  width: 100%;
  height: .25dvh;
  margin: 0;
  padding: 20px;
}

.Carousel {
  width: 100%;
  height: .33dh;
  margin: 0;
  overflow: hidden;
  display: flex;
}

.CarouselImg {
  width: auto;
  max-height: .33dh;
  margin: 0;
  padding: 0;
}