:root {
  --clr-background: rgb(255, 255, 255);
  --clr-fontmain:rgb(0, 0, 0);
  --clr-fontalt: rgb(100, 100, 100);
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/geist/Geist-Regular.woff2");
  font-style: normal; 
  font-display: swap;
}

body {
  font-family: "Geist", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--clr-background);
}

h1 {
  color: rgb(12, 12, 12);
  text-align: left;
  text-justify: center;
  font-family: Geist;
  font-size: large;
}

p {
  font-family: verdana;
  font-size: 20px;
}

pDesc {
  color: var(--clr-fontalt);
  font-family: verdana;
  font-size: 20px;
}

.containerTitle {
  width: 100%;
  height: .25dvh;
  margin: 0;
  padding: 16px;
}
</style>  font-family: "Geist", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
</head>